 /*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
<<<<<<< HEAD

*/



html,
body {
    margin:0;
    padding:0;
}



#spotify-logo {
    width: 10%;
    height: auto;
    margin-top: 5px;
    margin-left: 2em;
}



#image-concert {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
}



nav {
    position: fixed;
    margin-top: 0 auto auto 5em;
    background-color: white;
    z-index: 1;
}



nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    float:right;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 2em;
    position:relative;
    padding-top: 15px;
}



nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
}



nav a:hover{
   color:rgb(37, 226, 113);
}



h1 {
    color:white;
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:absolute;
    top: 45%;
    left: 12%;
    right: auto;
    padding-left: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



#p1 {
    color:white;
    font-size: 40px;
    width: 75%;
    position: relative;
    top: 10%;
    text-align:center;
    display: flex;
    padding:110px;
    padding-left: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-weight:normal;
}



.troisLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    position:relative;
}



.troisLogos h2 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding-bottom: 10em;
    position:absolute;
    padding-bottom: 90px;
    top: 40px;
}



.troisLogos img {
    width: 7em;
    height: auto;
}



.troisLogos h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00B172;
}



h2 {
    margin-top:0; /* annule style par défault */
    border-bottom: 4px solid #00B172;
    font-size: 225%;
    margin-bottom: 1em;
}



.troisLogos span {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    margin-left: 25em;
    margin-right: auto;
}



.troisLogos p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;

}



.troisLogos > div  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}



.green {
   background: #1EA758 url("../images/spotify-icon-white.png") center no-repeat;
   background-size:  auto 150px;
   color: #fff;
   margin:50px;
   padding:80px;
   display:flex;
 }



 .text h3 {
   margin-top:0; /* annule style par défault */
   border-bottom: 4px solid #fff;
   font-size: 225%;
   margin-bottom: 1em;
 }



 .text h4 {
   font-size: 180%;
}


 .text a {
    text-decoration: none;
    color: #fff;
 }



 .text p {
   font-size: 125%;
   max-width:15em;
 }



 .app {
   margin-left:auto;
   width: 350px;
 }

.text a {
    display: inline;
}
 


.text a::after {
    content: "";
    display: block;
    position: absolute;
    width: 22.5%;
    height: 3px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}



.text a:hover::after {
    transform: scale(1);
}

=======
 */
 html,
 body {
     margin:0;
     padding:0;
 }
 #spotify-logo {
     width: 12%;
     height: auto;
    
     
 }
 #image-concert {
     width: 100%;
     height: auto;
     position: relative;
     float: none;

     
     
 }
 nav {
     position: fixed;
     margin-top: 0 auto auto 5em;
     background-color: white;
     z-index: 1;
     position: absolute;
 }
 nav > ul {
     list-style: none;
     display: flex;
     flex-direction: row;
    float:right;
     align-items: center;
     font-size: 20px;
     margin-top: 0;
     position:relative;
     padding-top: 15px;
     
 }
 nav a {
     text-decoration: none;
     color: black;
     font-size: 1em;
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 20px;
     transition: all 0.3s ease 0s;
     
 }

 nav a:hover{
    color:rgb(37, 226, 113);

 }
 h1 {
     color:white;
     font-size: 95px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     position:absolute;
     top:30%;
     left:20%;
     padding:100px;
     margin: 0% 0% !important;
     
     
 }
 #p1 {
     color:white;
     font-size: 25px;
     width: 65%;
     position: relative;
     top: 10%;
     text-align:center;
     display: flex;
     padding:110px;
     padding-left: 25px;
     font-weight:normal;
          
 }
 .troisLogos {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 600px;
     position:relative;
 }
 .troisLogos h2 {
     text-align: center;
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     padding-bottom: 10em;
     position:absolute;
     padding-bottom: 90px;
     top: 40px;
     
 }
 .troisLogos img {
     width: 7em;
     height: auto;
 }
 .troisLogos h3 {
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     color: #00B172;
 }
 .troisLogos p {
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
 }
 .troisLogos > div  {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 100%;
     /*position: relative;
     right: 100px;*/
 }
 .green {
    background: #1ea758 url("../images/spotify-icon-white.png") center no-repeat;
    background-size:  auto 150px;
    color: #fff;
    margin:50px;
    padding:80px;
    display:flex;
    
  }
  .text h3 {
    margin-top:0; /* annule style par défault */
    border-bottom: 4px solid #fff;
    font-size: 225%;
    margin-bottom: 1em;
  }
  .text h4 {
    font-size: 180%;
  }
  .text p {
    font-size: 125%;
    max-width:15em;
  }
  .app {
    margin-left:auto;
    width: 350px;
  }
     
 #box {
     width: 20%;
     height: auto;
 }
>>>>>>> 03255597dc46bd43fd50255cdd551601a9bc2d9e

