/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); /* google font that is close to Spotify's proima nova */

* {
    box-sizing: border-box; /* avoid changes of elements' width and height due to padding and margin */
    margin: 0; /* delete default brwoser margin */
    padding: 0; /* delete browser margin */
}

body {
    color: #1A1A1A;
    font-family: "Lato", Arial, sans-serif; /* set font-family for the whole page */
}

.flex-container {
    display: flex;  /* flexbox for aligning box elements and containers */
}

.grid-container {
    display: grid;
    grid-template-columns: 2rem 35rem 1fr 35rem;
    grid-template-rows: 8rem 1fr;
}

/* -------------------- */
/* HEADLINES */
/* -------------------- */

h1 {
    font-size: 6em;
    text-align: center;
    color: white;

    padding-top: 2em; /* center vertically */
}

h2 {
    font-size: 3em;
    margin-bottom: 1rem;
}

#services > h2 {
    border-bottom: 3px solid #00B172; /* adds a green line under the What's on Spotify headline */
    text-align: center;
}

#functions h2 {
    border-bottom: 3px solid white; /* adds a white line under the yeezy as Kanye West headline */
    text-align: left;

    grid-column: 2 / span 2; grid-row: 1 / span 1; /* scaling position withing the grid container  */
    justify-content: start;
    align-self: center;
}

h3 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1rem;
}

#services h3 {
    color: #00B172;
    text-align: center;
    margin-top: 1rem;
}

#functions h3 {
    text-align: left;
}


/* -------------------- */
/* NAVIGATION */
/* -------------------- */

#nav-container {
    position: fixed; top: 0; left: 0; /* set up the positioning */
    width: 100%; /* full scaling */
    background: white;
    z-index: 1; /* nav section is always in front of other elements when scrolling */
    
    flex-flow: row nowrap; 
    justify-content: space-around; 
}


#nav-bar {
    list-style: none; /* deleting bullet points */
}

#nav-bar li {
    padding-right: 2.5em; /* creating space between the words */
}

#nav-bar a {
    text-decoration: none; /* deleting underline of hypertext */
    color: #1A1A1A;
    font-size: 1.5em;
}


/* -------------------- */
/* HERO IMAGE */
/* -------------------- */

#hero-image {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    width: 100%; height: 100vh; /* scaling proportionally the background image */
    
    position: relative; top: 15%; left: 0; /* setting up the positioning */
    
    flex-flow: column; justify-content: center; /* scaling the positioning of the headers' items  */
}

#hero-image p {
    color: white;
    font-size: 2em;
    text-align: center;
    
    padding: 1em 17em; /*centering vertically */
}



/* -------------------- */
/* SPOTIFY SECTIONS */
/* -------------------- */

main > section {
    width: 80%; /* reducing the sections' size  */
    margin: 1rem auto; /* centering sections */
}

p {
    line-height: 1.5;
}

#services p {
    margin-top: .5rem;
    padding: 0 6em;
    
    font-size: 20px;
    text-align: center;
}

#services {
    flex-flow: column nowrap; /* scaling the positioning of the articles  */
    justify-content: space-evenly; 
    
    height: 50vh;
}

#services > div {
    flex-flow: row nowrap; /* scaling the positioning of each article  */
    justify-content: space-around; 
    align-items: baseline; 
}

#services article {
    flex-flow: column nowrap; /* scaling the positioning of the items within the articles  */
    justify-content: center; 
    align-items: center; 
    
    width: 25vw;
}

#functions {
    background: #00B172;
    color: white;

    padding: 2.5em;
}

#functions > div {
    grid-column: 2 / span 1; /* determining the location in the grid */
    grid-row: 2 / span 2; 
    
    flex-flow: column nowrap; /* scaling the position of all articles within the section */
    justify-content: left; 
    align-items: flex-start; 
}

#functions article {
    flex-flow: column nowrap; /* scaling the positioning of the items within the articles  */
    justify-content: center; 
    align-items: flex-start; 
}

#functions p {
    font-size: 20px;
    
    padding-right: 10em;
    margin-bottom: 2rem;
}


/* -------------------- */
/* ICONS & IMAGES */
/* -------------------- */

#nav-container #brand-logo {
    width: 200px; height: auto; /* set the logo size proportionallky */
    margin: .5rem 0; /* create a bit of space above and below the logo */
}

.black-icon {
    width: 6rem;
    height: auto;
}

#spotify-icon-white {
    height: 8rem;
    width: auto;

    grid-column: 3 / 4; /* scaling the positioning withing the grid */
    grid-row: 2 / 3;
    justify-self: center; 
    align-self: center;
}

#spotify-app {
    height: 30rem;
    width: auto;
    margin: 1rem 0;

    grid-column: 4 / span 1; /* scaling the positioning withing the grid */
    grid-row: 1 / 3;
    justify-self: center; 
    align-self: center;
}