/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

nav {

    padding: 0 32px;

}

nav>ul {

    list-style: none;
    display: flex;
    font-size: 1.1em;
}


ul>li {
    padding-right: 16px;
}

.flexelement {
    display: flex;
    justify-content: space-between;

}


.logo {
    width: 150px;
}