@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
}
body{
    font-family: Roboto;
    font-size: 16px;
}
header{
    margin:0;
}
nav{
    position: fixed; 
    top:0;   
    width:100%;
    height: 90px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav > img {
    height: 60px;
    margin:20px 0 20px 20px;
}
ul {
    padding: 0;    
    margin: 20px 20px 20px;
    line-height:60px;
    display: flex;
    justify-content: space-between;
}
ul > li {
    list-style: none;
    margin:10px;    
    font-size: 1.5em;
}
h1{
   padding-top: 80px;
}
#section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    display: inline;
    border-bottom: 3px solid #1DB954;    
    text-align: center;
    white-space: nowrap;
    font-size: 2.3em;
}
#container{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.art-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;    
}
.art-container > img {
    height: 80px;
}
h3{
    color:  #1DB954;
    font-size: 1.6em;
}
.art-container > p {
    width: 65%;
    text-align: center;
    font-size: 1.3em;
}
#section-bottom{
    background-color:#1DB954 ;
}